:root {
    --primary: #49b4aa;
    --secondary: #b79b7e ;
    --light: #fffefe;
    --gray: ;
    --dark: #0d1d1e ;
    --background: #0d1d1e;
    --highlight: ;

    --shadow: 0 1px 3px rgba(255, 255, 255, .9);

}



/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    margin: 0;
  }

html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }


/* General Formatting */

/* * {
    border: solid red 1px;
} */

body {
    font-family: 'Poppins', sans-serif;
    color: #49b4aa;
    background-color: #0d1d1e;
}

h1 {
    opacity: 90%;
}


section {
    border: solid black 1px;
}

.button {
    appearance: none;
    border: solid #b79b7e 2px;
    outline: none;
    background: none;
    color: var(--primary);

    display: inline-block;
    background-color: none;
    padding: 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: var(--shadow);
}

a {
    text-decoration: none;
    color: var(--primary);
}

.content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 40px;
    margin: 0px;
}

.header-logo {
    width: 5rem;
    height: auto;
    margin: 1rem;
}

/* Navbar Section Formatting */
nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

li {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header-links {
    background-color: none;
    padding: 8px;
    margin: 8px;
    border: none;
    color: #49b4aa;
}

.hamburger {
    display: none;
}


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color:var(--primary);
        font-size: 30px;
    } 

    .nav-menu {
        display: none;
    }
}


/* Hero Section Formatting */

.hero {
    background-color: #0d1d1e;
    color: #fffefe;
    font-weight: 300;
    font-size: 30px;
}

.hero-text{
    margin-left: 40px;
    padding: 40px;
    margin: 40;
}

.hero-name {
    font-weight: 300;
    /* font-size: 100px; */
    padding: 0;
    margin: 0;
}

.hero-subtitle {
    padding: 0;
    margin: 0;
    color: #b79b7e;
    font-weight: 700;
}

.bio-blurb {
    max-width: 500px;
    font-size:25px;
    padding-top: 20px;
}



/* Project Section */


/* .all-projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
} */
.featured-project-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 20px;
}

/* .project-group-container {

} */

.project-group-title {
    text-align: center;
    padding:20px;
}

.project-card {
    height: 100px;
    min-width: 400px;
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
}

/* Experience Section */

.experience-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.experience-timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    max-width: 700px;
}

.experience-year {
    margin: 2rem;
}

.experience-year h2 {
    color: var(--secondary);
    margin-bottom: .5rem;
}

.experience-year h3 {
   
}

/* Patent Section */

.patent-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70vw;
    /* border: 1px red solid; */
}

.patent-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    /* border: 1px solid red; */
    min-width: 300px;
    max-width: 400px;
}

.img-box {
    width: 20rem;
    height: 5rem;
    margin: 10px;
    border-radius: 10px;
    background: url("./Images/Patent Screen Grabs/400x400/zebra-tc70-accessory-400x400-0x.png");
    background-size: cover;
    background-position: center;
    transition: height 0.5s;
    text-align: center;
}

.img-box:nth-child(2) {
    background: url("./Images/Patent Screen Grabs/400x400/proteus-handle-400x400-01.png");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background: url("./Images/Patent Screen Grabs/400x400/proteus-singlehand-attachment-400x400-01.png" );
    background-size: cover;
    background-position: center;
}


.img-box:nth-child(4) {
    background: url("./Images/Patent Screen Grabs/400x400/proteus-system-v3-400x400-01.png");
    background-size: cover;
    background-position: center;
}



.patent-cover {
    margin: 0.5rem auto;
    color: var(--background);
}

.img-box:hover {
    height: 20rem;
    cursor: pointer;
}

.patent-links {
    z-index: -1;
    position: relative;
}

.img-box:hover .patent-links {
    z-index: 1;
    position: relative;
    transition: z-index 0.3s linear;
}

/* About Me */

.about-section {
    align-content: center;
    justify-content: center;
    padding: 40px;
    margin: 0px;
}

.section-title {
    padding: 0;
    margin: 0;
    color: #b79b7e;
    font-weight: 700;
    font-size: 40px;
    justify-content:center;
    align-content:center;
    display: flex;
    opacity: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    border-radius: 2px;
    padding: 40px;
}

.bio-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    margin: 16px;
    padding: 16px;
    max-width: 700px;
}

.bio-content {
    color: white;
    opacity: 90%;
    padding: 10px;
    margin: 10px;
}


/* Contact Me Section */


.contact-container {
    padding-top: 64px;
    padding-bottom: 64px;
}

form {
    display: block;
    margin: 0 auto;
    max-width:680px;
}

.form-grid {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(2, 1fr);  
    /* margin-bottom: 16px;   */
}



.form-element, .form-area {
    appearance: none;
    border: none;
    outline:none;
    background: none;

    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;

    padding:20px;
    margin: 0 16px 0 0;
    font-size: 20px;
    color: #313131;

}

.form-area {
    grid-column: 1/ -1;
}

.right-align {
    text-align: right;
    margin-top: 16px;
}




/* Footer Section */

footer {
    height: 200px;
    background-color: black;
}




